.container {
	margin: 1rem;
	border: 1px solid whitesmoke;
	width: 90%;
	/* background-color: rgb(36, 36, 36, 0.5); */
	background-image: url('../../public/geometric-modern-building-black-white.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 40%;
	position: relative;
}
.titleContainer {
	background-color: rgba(5, 5, 5, 0.7);
	position: absolute;
	bottom: 0;
	padding: 1rem;
	width: 100%;
	height: fit-content;
}
.title {
	line-height: 2;
	text-align: center;
	color: rgb(255, 255, 255);
	line-height: 2;
	font-size: 1.3rem;
	animation: fade-in 2s ease;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@media (min-width: 680px) {
	.container {
		margin: 1rem;
		border: 1px solid whitesmoke;
		width: 20%;
		/* background-color: rgb(36, 36, 36, 0.5); */
		background-image: url('../../public/geometric-modern-building-black-white.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		min-height: 50%;
		position: relative;
	}
}
