.header {
	position: sticky;
	width: 100vw;
	/* top: 0; */
	z-index: 999;
}
.container {
	width: 80%;
	padding-top: 1rem;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.nav {
	margin: 0;
	padding: 0;
	display: inline;
}
.item {
	float: left;
	list-style: none;
	margin-left: 1.5rem;
	color: rgb(255, 255, 255);
	font-size: 0.8rem;
}
